/* || COLORS ||
================================================================ */
:root {
    --body-bg: rgb(228, 255, 73);
    --primary-text-color: rgb(255, 255, 255);
    --game-shadow: rgba(110, 21, 1, 1);
    --menu-bg: rgba(255, 47, 0, 0.854);
    --menu-border: rgba(110, 21, 1, 0.854);
    --dialogue-border: rgba(65, 180, 153, 0.86);
    --dialogue-bg: rgb(82, 237, 201);
    --dialogue-text: rgba(7, 52, 41, 0.86);

    --button-bg: rgb(242, 134, 1);
    --button-highlight: rgb(255, 229, 196);
    --button-shadow: rgb(145, 81, 0);
    --button-active-bg: rgb(247, 137, 0);

    --option-bg: rgb(15, 150, 104);
    --option-highlight: rgb(102, 205, 171);
    --option-shadow: rgb(0, 87, 58);
    --option-hover: rgb(212, 60, 160);
    --option-hover-highlight: rgb(200, 131, 176);
    --option-hover-shadow: rgb(152, 0, 99);
    --option-active: rgb(212, 60, 160);
    --option-active-highlight: rgb(200, 131, 176);
    --option-active-shadow: rgb(152, 0, 99);
  }

  /* || GENERAL STYLES & TYPOGRAPHY ||
  ================================================================ */
.Start h1 {
    font-size: 2vw;
    font-family: "Press Start 2P", serif;
    font-weight: 200;
    font-style: normal;
    color: var(--game-shadow);
    list-style: none;
    line-height: normal;
    letter-spacing: .1vw;
}
  .Start {
    text-align: left;
    background-color: var(--menu-bg);
    border: 2px solid var(--game-shadow);
    border-radius: 35px;
    margin: 5px;
    width: 350px;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    align-items: center;
    margin-top: 8px;
    position: relative;
    box-shadow:
    var(--game-shadow) 1px 1px,
    var(--game-shadow) 2px 2px,
    var(--game-shadow) 3px 3px,
    var(--game-shadow) 4px 4px,
    var(--game-shadow) 5px 5px,
    var(--game-shadow) 6px 6px,
    var(--game-shadow) 7px 7px,
    var(--game-shadow) 8px 8px,
    var(--game-shadow) 9px 9px,
    var(--game-shadow) 10px 10px,
    var(--game-shadow) 11px 11px,
    var(--game-shadow) 12px 12px,
    var(--game-shadow) 13px 13px,
    var(--game-shadow) 14px 14px,
    var(--game-shadow) 15px 15px,
    var(--game-shadow) 16px 16px,
    var(--game-shadow) 17px 17px,
    var(--game-shadow) 18px 18px,
    var(--game-shadow) 19px 19px,
    var(--game-shadow) 20px 20px,
    var(--game-shadow) 21px 21px,
    var(--game-shadow) 22px 22px,
    var(--game-shadow) 23px 23px,
    var(--game-shadow) 24px 24px,
    var(--game-shadow) 25px 25px,
    var(--game-shadow) 26px 26px,
    var(--game-shadow) 27px 27px,
    var(--game-shadow) 28px 28px,
    var(--game-shadow) 29px 29px,
    var(--game-shadow) 30px 30px
  }

  .dialogue {
    background-color: var(--dialogue-bg);
    border: 6px var(--dialogue-border);
    border-style: inset solid;
    color: var(--dialogue-text);
    border-radius: 20px;
    min-height: 300px;
    margin: 10px;
    padding: 20px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;
    line-height: 20px;
    font-size: 10px;
    width: 275px;
  }

  .bulbasaur {
    width: 80px;
    text-align: center;
    padding: 10px;
    bottom: 0;
    position: relative;
    margin: 10px auto;
    display: flex;
  }
